*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common classes */
.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.width{
    max-width: 1360px;
    margin: auto;
}

.btn{
    padding: 12px 16px;
    margin:4px 0;
    color: white;
    font-weight: 600px;
    font-size: 16px;
    background-color:#469165 ;
    border-radius: 4px ;
    border: 1px solid #469165;
}

/* todo nav section */
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 32px;
    
}

nav a{
    text-decoration: none;
}

/* todo banner section */
.bg{
    background-image:url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 674px;

}
section{
    padding: 70px 0 130px 0;
}
section .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
    gap: 16px;

}
section #banner-h4-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    margin-top: 30px;
}
section #banner-h4-text img{
    width: 16px;
    height: 16px;
}
section .banner h1{
    font-size: 72px;
    font-weight: 700px;
    color: white;
}
section .banner h1 span{
    color: #469165;
}
section .banner p{
    font-size: 18px;
    line-height: 24px;
    color: white;
}
section div .banner-btn{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 30px;
}
section div .banner-btn-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
section div .banner-btn-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.banner-btn-2 img{
    width: 20px;
    height: 20px;
}
.banner-btn-2{
    background-color: transparent;
    border: 1px solid white;
}

