*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common classes */
.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.width{
    max-width: 1360px;
    margin: auto;
}

.btn{
    padding: 12px 16px;
    margin:4px 0;
    color: white;
    font-weight: 600px;
    font-size: 16px;
    background-color:#469165 ;
    border-radius: 4px ;
    border: 1px solid #469165;
}

/* todo nav section */
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 32px;
    
}

nav a{
    text-decoration: none;
}

/* ! banner section */
.bg{
    background-image:url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 674px;

}
section{
    padding: 70px 0 130px 0;
}
section .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
    gap: 16px;

}
section #banner-h4-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    margin-top: 30px;
}
section #banner-h4-text img{
    width: 16px;
    height: 16px;
}
section .banner h1{
    font-size: 72px;
    font-weight: 700px;
    color: white;
}
section .banner h1 span{
    color: #469165;
}
section .banner p{
    font-size: 18px;
    line-height: 24px;
    color: white;
}
section div .banner-btn{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 30px;
}
section div .banner-btn-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
section div .banner-btn-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.banner-btn-2 img{
    width: 20px;
    height: 20px;
}
.banner-btn-2{
    background-color: transparent;
    border: 1px solid white;
}

/*! notes setion */
section .notes-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
div .color-cng-icon{
    width: 32px;
    height: 32px;
    background-color: red;
    border-radius: 1000px;
    padding: 7px;
    margin-top: 40px;
}
div .card-content{
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 24px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.06);
    
}
.card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 44px;
 
}

.card-content h3{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    

}
.card-content p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
}

/* !second brain section */
.second-brain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.checklist-items{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.checklist{
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}
.checklist p{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color:#001931 ;
}
.second-brain-text{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.second-brain-headings{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.second-brain-headings h4{
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
}
.second-brain-headings h2{
    font-size: 48px;
    font-weight: 700px;
    line-height: 58px;
    color: #001931;
}
.second-brain-headings p{
    font-size:16px ;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
}
